.main-footer {
  color: white;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}
html {
  height: 100%;
}
/* body styling */
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}
/* footer styling */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #211928;
  text-align: center;
  color: #fff;
}
